{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'product/style.css' %}"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<script src="{% static 'product/script.js' %}"></script>

 
<div class="container">
 <div class="content">
 
      <div style="text-align: -webkit-center;" class="topic">    
         <div class="input-box">
             <a class="btn" href="/"><span>Create New Product</span></a>
             <a class="btn" href="/list"><span>List All Product</span></a>
             <a class="btn" href="/find"><span>Find by Customer ID</span></a>
         </div>
         </div>
 
   </div>
   
   <div class="row">

        <div class="search-box">
            <label>Enter Customer ID</label>
            <input type="number" name="customer_id" id="customer_id" placeholder="customer id" required />
            <button onclick="getProducts()" class="btn">Get Product</button>
              {% csrf_token %}
         </div>

   </div>
    <div class="row">

    <table id="product_list" class="table" border="1" cellspacing="0" width="100%">
    <thead>
     <tr>
       <th>ID</th>
       <th>Customer Name</th>
       <th>Name</th>
      <th>Price</th>
      <th>Description</th>
     </tr>
   </thead>     
 </table>
 </div>
</div>

  